body {
    background-color: aquamarine;
}

.first {
    text-align: center;
    border: 10px solid lightblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}
.second, .third, .fourth {
    border: 10px solid lightblue;
}
h3 {
    text-align: center;
}